.button {
  display: flex;
  gap: 0.225rem;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 16rem;
  height: 2.8125rem;
  padding: 0.9rem 1.8rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.9rem;
  background-color: #605cff;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
}

